doctype html
html
    block awesome-config
    head
        title=title
        meta(name="description", content="description")
        meta(name="robots", content="noindex")
        link(rel="stylesheet", href="style.css")
    body
        block awesome-content