extends _component/layout/layout
block awesome-config
    -
        let title = `Landing page`
        let description = `Description goes here`
block awesome-content
    p 
    | this is the landing page
    span.lpcf-home3